
/* Followed youtube tutorial but added a bunch of my own code to sytle it the way I like it at https://youtu.be/xNtT8NGinxU */


html {font-size: 62.5%} /* so I can work with rem */
* { box-sizing: border-box;
} 
.checkbox { display: inline-flex; /* moves word beside check box */
             align-items: center; /* centers word to check box */
             cursor: pointer; /* allows customer cursor little hand */
            } 

.checkbox__input {display: none;} /* hides original checkbox style */

.checkbox__box {
width: 1.75em;
height: 1.75em; /* em means relative to font size */
border: 3px solid #372e2c; /*my own code*/
border-radius: 2px; /*rounded edges*/
display: flex;
align-items: center;
justify-content: center; /*these last 3 itmes align check mark symbol */
flex-shrink: 0; /*prevents box from shrinking with font and lose perfect square */
transition: background 0.15s, border-color 0.15s;
padding-left: 4.5px;

}

.checkbox__box::after { content: '\2714'; 
  color: #fff;  
  transform: scale(0);  
  transition: transform 0.15s;
}

.checkbox__input:checked + .checkbox__box { 
background-color: #996b5996;
border-color: #986b58;
border-style: double;}

.checkbox__input:checked + .checkbox__box::after {
    transform: scale(1);
}

.checkbox h2 {margin-left: 10px;
font-weight: 100;
font-size: 5rem;}

