 /* for responsive index page. I'm pretty stoked that I made the nav look but it took forever to figure it out. Please note I had already written and styled so much code before we had the lesson on mobile first so I had to go with what I had*/
 
 html {font-size: 62.5%} /* so I can work with rem */
* { box-sizing: border-box; }  

@media only screen and (min-width:769px) {
 .logonav .toggle {display: none;} /* hides the hamburger past 769px */
 .logosize { width: 300px;} 
 /* logo size - I used this class becaue I thought I would do different sizes but one size ended up being fine */
} 
@media only screen and (max-width: 1000px) {.video iframe {width:  90vw; height: 80vh;} /*different size of video section*/
}
@media only screen and (max-width: 768px) { /* resize video section, remove paragraphs from feature and journal, remove brown top banner */
 .video iframe {width:  90vw; height: 60vh;}
 .featureinfo p {display: none;}
 .journalinfo p {display: none;}   
 .banner {display: none;}
 .logosize {width: 300px;}
}
@media only screen and (max-width: 500px) { 
    
    /* resize video, product categories in column and sized to 100% instead of 33%, centered hero text, removed hero sub heading, removed the featured product, journal section to column and changed sizing from 50% to 100%, removed journal subheading, aligned text to center on maker section, */

 .video iframe {width:  90vw; height: 50vh;}
 .products {flex-direction: column;}
 .products li {max-width: 100%; margin-bottom: 1%;}
 .hero {align-items: center; text-align: center;}
 .hero h3 {display: none;}
 .hero h1 {padding-bottom: 3%;}
 .featuredproduct { display: none;}
 .journal {flex-direction: column;}
 .journal div {width: 100%;}
 .journalinfo { padding: 0 5%;}
 .journal h3 { display: none;}
 .makers {align-items: center; text-align: center;}

 /*this is the logo position*/
 .logonav div {
 margin-left: 14%;
 display: block;
 flex: 3 3 auto;
 }
}   
@media only screen and (max-width: 768px) {  /*this is the responsive nav*/

.logonav_inner { /* this is a full pink background pop out that took me so long to figure out, also spacing, flex and direction for nav text. In column */
  list-style-type: none;
  margin: 0;
  padding: 5%;
  flex-direction: column;
  display: none;
  text-align: center;
  background-color:#efe6e1;
  background-size: 100vw;
}

.logonav_inner li a {
 color: #372e2c;
 font-weight: bold;
 font-size: 2rem;
}

.logonav {display: flex;
    flex-direction: column;
padding-top: 8%;
padding-bottom: 5%;
align-items: flex-start;
}
/*this makes a full color back-ground on click of hamburger */
.logonav ul {width: 100vw;}
/* this positions the logo*/
.logonav div {
    margin-left: 10%;
    display: block;
    flex: 3 3 auto;
}
/*this makes the logo dissapear on hamburger click*/
.lognav img {display: none;}

.logonav_inner { padding-left: 5%;
padding-top: 5%; }

.show-items {
  display: flex;
}
/*this moves the hamburger over a little with the padding*/
.logonav .toggle {
 position: absolute;
 cursor: pointer;
 padding-left: 5%; 
}
}