/* website project farm and folk */

/* General for whole site */

html {font-size: 62.5%} /* so I can work with rem */
* { box-sizing: border-box;
}   
h1 h2 h3 h4 { font-family: "Cormorant Garamond", serif;
              color: #372e2c;
}
h1 { font-size: 6.4rem;
     line-height: 1.2;
}
h2 { font-size: 4rem; 
}
h3 { font-size: 2.2rem;
     letter-spacing: 0.1rem;
}
h4 { font-size: 1.7rem;
     letter-spacing: 0.1rem;
}
body { /* The body has a default margin, which we do not want interfering with image header, which is why  I have set it to 0 */ 
      margin: 0; 
      padding: 0;

      /* Text styles */
      font-family: "Cormorant Garamond", serif; 
      line-height: 1.42857143;
      color: #372e2c;
      letter-spacing: 0.05rem;
      font-size: 1.7rem;
      font-weight: 100;
      letter-spacing: 0.12rem;
      
      /*background*/
      background-color: #fff;
}
.columnwrap { display: flex;
              flex-direction: column;
              justify-content: center;
              align-items: center;
              
}
.center { 
     text-align: center;
}
.wrap {      display: flex;
             justify-content: center;
             align-items: center;
             margin: 0 auto;
           
}
.background {
      background-size: cover;
      background-position: center center;
      background-repeat: no-repeat;
      background-attachment: fixed;
}
.margin {margin-right: 5%;
          margin-left: 5%;}

/* index page */

/* header section */

.header { position: sticky; top: 0; /* https://dev.to/akhilarjun/one-line-sticky-header-using-css-5gp3 */ /*makes a sticky header*/
}
.banner {
         background-color: #986b58;
         padding: 0.5%;          
}

.banner h4 { color:#efe6e1;
             margin: 0; 
             font-size: 1.6rem; 
}

.logonav { 
           /*sizing of pink header part*/
           height: 11vh;
           background-color: #efe6e1;
           padding-top: 1%;
           
}
.logonav div { 
              display: block;
            margin-left: 5%;
            flex: 3 3 auto;
}

.logonav_inner { display: flex;
                 justify-content: flex-end;
                 font-size: 1.6rem;
                 letter-spacing: 0.1rem;
                 font-weight: 300;
                 list-style-type: none;
                 padding: 0;
               
}
.logonav ul { margin: 0 3% 0 0;
             flex: 2 2 auto;
       
}
.logonav li {padding-right: 5%;}

.logonav li a {text-decoration: none;
          color: #372e2c;
          display: block;    
}

nav li a:hover { color: #986b58;}

/* hero section */

.hero { /* sizing of hero image https://codetheweb.blog/fullscreen-image-hero/ note vw/vh is % of veiwport width and height*/
      width: 100vw;
      height: 100vh; 
    
      /* Flexbox */
      align-items: flex-start; /*to override class columnwrap*/
      
      /* Text styles */
       color: #efe6e1;
       

      /* Background Styles */
      /* background image doesn't take colors but take gradients, 0 is full transparency in rgba, make sure to separate multiple backgrounds with commas */
      background-image: linear-gradient(rgba(0,0,0,0.2),rgba(0,0,0,0.2)), url("images/soaplady.JPG");
      
}
.hero h1 { /* margins */
          margin: 0;
          width: 57vw;
          padding-left: 5%;
}
.hero h3 {
     width: 50vw;
     padding-left: 5%; 
} 
.hero .btn { /* a elements are inline by default block fixes this */ 
            /* Positioning and sizing */
            display: block;
            width: 200px;

            /* Padding and margins */
            padding: 1% 2%;
            margin-left: 5%;
        
            /* Border styles */
            border: 1px solid #efe6e1;
            

            /* Text styles */
            color: #efe6e1;
            text-decoration: none; /*removes line under */ 
            text-align: center;
            font-size: 1.4rem;
            font-weight: 500;
            font-family: "Josefin Sans", sans-serif;           
}

.hero a:hover { background-color: rgba(152,107,88,0.5);}

/* 3 product types section */

.products { margin: 0 0 5% 0;
            
}

.products ul { display: flex;
               list-style-type: none;
               font-size: 1.7rem;
               font-weight: 300;
               letter-spacing: 0.1rem;
               margin: 0;
               padding: 0;
               justify-content: space-evenly;
               flex-wrap: wrap;
               
               
}
.products li a { text-decoration: none; /*removes line for link*/ 
                 display: block; 
                 color: #372e2c;
                 text-align: center;
                 padding: 10px;
}
.products a:hover { color: #986b58;
}

/* video section */

.video { background-color: #986b58;
         padding-bottom: 5%;         
}
.video iframe {width: 90vw;
               height: 100vh;
}
.video h2 { color: #efe6e1;   
}
         
/* featured product section */    

.featuredproduct { align-items: flex-start; 
                   max-width: fit-content;                                             
}
.featuredproduct div {display: block;
                     margin: 5% 1% 5% 5%;
                   
}
.featuredproduct aside { margin: 5% 5% 5% 0;
     border: 1px solid #efe6e1;
    }

.featureinfo { align-items: flex-start;
              padding: 0 5% 12.5% 2%;
              margin: 0;
              
              
}
.featureinfo .btn { /* a elements are inline by default block fixes this */ 
               /* Positioning and sizing */
                  display: block;
                  width: 200px;

                  /* Padding and margins */
                  padding: 15px 17px;
                  margin-top: 20px;
                  margin-bottom: 20px;
                  
                  /* Border styles */
                 
                 background-color: #efe6e1;
                 
                 /* Text styles */
                 color: #372e2c;
                 text-decoration: none; /*removes line under */ 
                 text-align: center;
                 font-size: 1.4rem;
                 font-weight: 550;
                 font-family: "Josefin Sans";
}
.featureinfo a:hover { background-color: rgba(152,107,88,0.5);}

/* Makers Section Leads to About Page */

.makers { /* sizing of hero image https://codetheweb.blog/fullscreen-image-hero/ note vw/vh is % of veiwport width and height*/
      width: 100vw;
      height: 100vh; 
    
      /* Flexbox */
      align-items: flex-start;
      

      /* Text styles make all lines centered */
       color: #efe6e1;

      /* Background Styles */
      /* background image doesn't take colors but take gradients, 0 is full transparency in rgba, make sure to separate multiple backgrounds with commas */
      background-image: linear-gradient(rgba(0,0,0,0.2),rgba(0,0,0,0.2)),url("images/soapwoman.JPG");
}
.makers h2 { /* Margins */
          margin: 0;
          width: 45vw;
          padding-left: 5%; 
}
.makers h3 {width: 55vw;
     padding-left: 5% 
}

.makers .btn { /* a elements are inline by default block fixes this */ 
            /* Positioning and sizing */
            display: block;
            width: 200px;

            /* Padding and margins */
            margin-top: 38px;
            margin-left: 5%;
            padding: 1.3% 2%;
            

            /* Border styles */
            border: 1px solid #efe6e1;
            

            /* Text styles */
            color: #efe6e1;
            text-decoration: none; /*removes line under */ 
            text-align: center;
            font-size: 1.4rem;
            font-weight: 550;
            font-family: "Josefin Sans";}

.makers a:hover { background-color: rgba(152,107,88,0.5);}

/* Donation Feature -Would lead to Journal if there was one*/

.journal { display: flex;
           align-items: flex-start; 
           justify-content: center; 
           flex-direction: row-reverse;                            
}
.journal div { display: block;
               margin: 5% 5% 5% 1%;
                     
}
.journal aside { margin: 5% 0% 3% 5%;
     border: 1px solid #efe6e1;
     
}
.journalinfo { display: flex;
              flex-direction: column;
              padding: 5% 2% 12.5% 5%;
              margin: 0;
}
.journalinfo .btn { /* a elements are inline by default block fixes this */ 
               /* Positioning and sizing */
                  display: block;
                  width: 200px;

                  /* Padding and margins */
                  padding: 15px 17px;
                  margin-top: 20px;
                  margin-bottom: 20px;
                  
                  /* Border styles */
                 
                 background-color: #efe6e1;
                 
                 /* Text styles */
                 color: #372e2c;
                 text-decoration: none; /*removes line under */ 
                 text-align: center;
                 font-size: 1.4rem;
                 font-weight: 550;
                 font-family: "Josefin Sans";
}
.journalinfo a:hover { background-color: rgba(152,107,88,0.5);}

/*footer*/

footer { display: flex;
         font-size: 1.4;
         background-color: #EFE6E1;
         width: 100vw;
         height: 15vh;
         letter-spacing: 0.1rem
}     

/* Shop Page */

.shop h2  { margin: 3% 0 1% 0;}
.shop ul    { display: flex;
               list-style-type: none;
               font-size: 2rem;
               font-weight: 300;
               letter-spacing: 0.1rem;
               margin: 3%;
               padding: 0;
               justify-content: space-evenly;
               flex-wrap: wrap;
               
}
.shop li a {     text-decoration: none; /*removes line for link*/ 
                 display: block; 
                 color: #372e2c;
                 text-align: center;
                 padding-bottom: 5%;
}
.shop a:hover { color: #986b58;
}
/* About Page */

.firstimage { width: 100vw;
             height: 80vh; 
    
             /* Flexbox */
             display: flex;
             align-items: center;
             margin-bottom: 5%;
             /* Text styles make all lines centered */
            color: #efe6e1;

            /* Background Styles */
           /*change the image here */
           background-image: linear-gradient(rgba(0,0,0,0.1),rgba(0,0,0,0.1)),url("images/friends.JPG");
}
.color {background-color: #EFE6E1;} /*background color for page */

.firstimage h2 { text-align: center;
     max-width: 550px;
     padding-left: 175px;
     color: #efe6e1;
}
.about  {         
                  margin-top:  3%;
                  margin-bottom: 3%;
                  align-items: flex-start;
                  color: #efe6e1;
}
.about div { 
     padding-left: 4%;
     flex: 5 1 auto;
}
.about .inner_about { flex: 5 1 auto;
                      max-width: fit-content;
                        padding: 5%;
                        padding-bottom: 4.8%;
                        margin-left: 1%;
                        margin-right: 4%;
                     background-color: #986b58;  
                     height: 650px;
}    
.aboutreverse  { display: flex;
                  align-items: center;
                  margin-top:  3%;
                  padding: 0;
                  width: 100%;
                  height: 40%;
                  justify-content: center;
                  align-items: flex-start;
                  color: #efe6e1;
                 
                  
            }
.aboutreverse div {/*this is the image on the rigtht woman with soap */
                    flex: 5 1 auto;
                    padding-right: 4%;


}
.aboutreverse .inner_aboutreverse  {flex: 5 1 auto;
                        padding: 5%;
                        padding-bottom: 4.8%;
                        margin-right: 1%;
                        margin-left: 4%;
                     background-color: #986b58;  
                     height: 650px;
}    
.h2 { font-size: 3rem;}


            
            
            