
/* website project farm and folk */

/* General for whole site */

html {font-size: 62.5%} /* so I can work with rem */
* { box-sizing: border-box; /* so sizing takes into account margins and padding universal*/
}  
img { /* so images are responsive removed pixel measurements in html and added percents for sizing in css*/
      max-width: 100%; 
      height: auto; 
}
/* Head Font Styles */
h1,h2,h3,h4 { 
 font-family: "Cormorant Garamond", serif; /*remember commas here*/
 color: #372e2c;
}
h1 { font-size: 6.4rem;
     line-height: 1.2;
 
}
h2 { font-size: 4rem; 
}
h3 { font-size: 2.2rem;
     letter-spacing: 0.1rem;
}
h4 { font-size: 1.7rem;
     letter-spacing: 0.1rem;
}
body { /* The body has a default margin, which we do not want interfering with image header, which is why  I have set it to 0 */ 
      margin: 0; 
      padding: 0;

      /* Text styles */
      font-family: "Cormorant Garamond", serif; 
      line-height: 1.42857143;
      color: #372e2c;
      letter-spacing: 0.05rem;
      font-size: 1.7rem;
      font-weight: 500;
      letter-spacing: 0.12rem;
      
      /*background*/
      background-color: #FEFAF4;
}
.columnwrap { /* flex box for flex-direction column */
              display: flex;
              flex-direction: column;
              justify-content: center;
              align-items: center;
              
}
.center { 
     text-align: center;
}
.wrap {  /* flex box for flex-direction row */    
      display: flex;
      justify-content: center;
      align-items: center;
      margin: 0 auto;          
}
.background { /* for background images note back-ground attachment fixed for scrolling effect */
      background-size: cover;
      background-position: center center;
      background-repeat: no-repeat;
      background-attachment: fixed;
}
/* some repeated margins */
.margin {margin-right: 5%;
          margin-left: 5%;
}
.anothermargin {margin-top: 5%;
}

/* index page */

/* header section */
.header { position: sticky; top: 0; /* https://dev.to/akhilarjun/one-line-sticky-header-using-css-5gp3 */ /*makes a sticky header*/
}
.banner { /* brown announcement bar at top */
         background-color: #986b58;
         padding: 0.5%;          
}

.banner h4 { /* font styles in announcement bar */
             color: #fff;
             margin: 0; 
             font-size: 1.6rem; 
}
.logonav { /*sizing of pink header part*/
           height: 11vh;
           background-color: #FEFAF4;
           padding-top: 1%;          
}
.logonav div { /* logo */
            display: block;
            margin-left: 5%;
            flex: 3 3 auto;
}

.logonav_inner { display: flex;
                 justify-content: flex-end;
                 font-size: 1.6rem;
                 letter-spacing: 0.1rem;
                 font-weight: 300;
                 list-style-type: none; /*removes bullets*/
                 padding: 0;
               
}

.logonav ul { /* the nav list sized */
           margin: 0 3% 0 0;
           flex: 2 2 auto;
       
}
/*styles for indiviual nav words */
.logonav li {padding-right: 5%;
}
.logonav li a {text-decoration: none; /*removes line under*/
          color: #372e2c;
          display: block; 
          font-weight: 500;   
}
nav li a:hover { color: #986b58; /* so nav words brown on hover */
}

/* hero section */

.hero { /* sizing of hero image https://codetheweb.blog/fullscreen-image-hero/ note vw/vh is % of veiwport width and height*/
      width: 100vw;
      height: 100vh; 
    
      /* Flexbox */
      align-items: flex-start; /*to override centre in class columnwrap found at top*/
      
      /* Text styles */
       color: #FEFAF4;
       

      /* Background Styles */
      /* background image doesn't take colors but take gradients, 0 is full transparency in rgba, make sure to separate multiple backgrounds with commas */
      background-image: linear-gradient(rgba(0,0,0,0.2),rgba(0,0,0,0.2)), url("images/soaplady.jpg");
      
}
/* spcaing and styles of wording on top of hero background */
.hero h1 { 
          margin: 0;
          padding-left: 5%;
          color: #FEFAF4;
          font-weight: 200; /*this is how thick the font is goes by 100's */
}
.hero h3 {
     padding-left: 5%; 
     color: #FEFAF4;
} 
.hero .btn { /* a elements are inline by default block fixes this */ 
            /* Positioning and sizing */
            display: block;
            width: 200px;

            /* Padding and margins */
            padding: 14px 9px;
            margin-left: 5%;
        
            /* Border styles */
            border: 1px solid #FEFAF4;
            

            /* Text styles */
            color: #FEFAF4;
            text-decoration: none; /*removes line under */ 
            text-align: center;
            font-size: 1.4rem;
            font-weight: 500;
            font-family: "Josefin Sans", sans-serif;           
}

.hero a:hover { background-color: rgba(152,107,88,0.5);} /*hover color for button*/

/* 3 product types section */
.products      { display: flex;
               list-style-type: none;
               font-size: 2rem;
               font-weight: 300;
               letter-spacing: 0.1rem;
               margin: 0;
               padding: 0;
               margin-left: 5%;
               margin-right: 5%;
               margin-bottom: 8%;
               flex-direction: row;
               justify-content: center;
              
}
/*pictures*/
.products h3 {margin: 0;
     font-weight: 400;}
.products li { max-width: 33%; /* size of pictures*/
               height: auto;
               padding-right: 2%;}
/*linked sub headings*/
.products li a { text-decoration: none; /*removes line for link*/ 
                 display: block; 
                 color: #372e2c;
                 text-align: center;
                 margin: 0;                
}
.products a h3:hover { color: #B22029;
}

/* video section */

.video { background-color: #986b58;       
}
/*video sizing changes to be responsive on responsive css sheet*/
.video iframe {width: 90vw;
               height: 100vh;
               border: none;
}
/* video heading */
.video h2 { color: #FEFAF4; 
     padding-top: 2%;
     margin: 0; 
     text-align: center; 
}

/* featured product section */    

.featuredproduct { margin: 5%;
                   background-color: #FEFAF4;                                                             
}
.featuredproduct h2 {margin: 0; /* heading in aside had a margin so removed it here */
}

.featuredproduct div { /*sized the lavender soap picture*/
                      width: 50%;
                      display: block;
                      padding: 0;               
}
.featuredproduct aside { width: 50%; /*sizing of aside which has the pricing and product info*/
                         align-items: center;
                         justify-content: center;
                         text-align: center;
                         margin-left: 5%;   
}
.featureinfo { /* flex direction of words inside aside*/
     display: flex;
     flex-direction: column;    
}
.featureinfo .btn { /* a elements are inline by default block fixes this */ 
               /* Positioning and sizing */
                  display: block;
                  width: 200px;

                  /* Padding and margins */
                  padding: 14px 9px;
                  margin-top: 2%;
                  margin-bottom: 3%;
                  
                  /* Background style */
                 background-color: #986b58;
                 
                 /* Text styles */
                 color: #fff;
                 text-decoration: none; /*removes line under */ 
                 text-align: center;
                 font-size: 1.4rem;
                 font-weight: 550;
                 font-family: "Josefin Sans";
}
.featureinfo a:hover { background-color: rgba(152,107,88,0.5);}

/* Makers Section Leads to About Page */

.makers { /* sizing of hero image https://codetheweb.blog/fullscreen-image-hero/ note vw/vh is % of veiwport width and height*/
      width: 100vw;
      height: 100vh; 
    
      /* Flexbox */
      align-items: flex-start;
      

      /* Text Color */
       color: #FEFAF4;

      /* Background Styles */
      /* background image doesn't take colors but take gradients, 0 is full transparency in rgba, make sure to separate multiple backgrounds with commas */
      background-image: linear-gradient(rgba(0,0,0,0.2),rgba(0,0,0,0.2)),url("images/soapwoman.jpg");
}
/*styles for headings on top of picture background above*/
.makers h2 { /* Margins */
          margin: 0;
          padding-left: 5%; 
          color: #FEFAF4;
}
.makers h3 {color: #FEFAF4;
     padding-left: 5% 
}
.makers .btn { /* a elements are inline by default block fixes this */ 
            /* Positioning and sizing */
            display: block;
            width: 200px;

            /* Padding and margins */
            margin-top: 38px;
            margin-left: 5%;
            padding: 14px 9px;
            

            /* Border styles */
            border: 1px solid #fff9f2;
            

            /* Text styles */
            color: #fff9f2;
            text-decoration: none; /*removes line under */ 
            text-align: center;
            font-size: 1.4rem;
            font-weight: 550;
            font-family: "Josefin Sans";}

.makers a:hover { background-color: rgba(152,107,88,0.5);}

/* Donation Feature Section - Would lead to Journal if there was one*/

.journal { display: flex;
           align-items: center;
           justify-content: center; 
           flex-direction: row-reverse;  
           margin: 5%;    
           text-align: center;                      
}
.journal div { display: block;
               width: 50%; /*sizing of picture*/
                     
}
.journal aside { margin-right: 5%;
                 width: 50%;  /*sizing of whole aside*/  
}

.journalinfo { /* words in aside layout */
               display: flex;
              flex-direction: column;
              align-items: center;
              justify-content: center;
              margin: 0;
}
.journalinfo h2 {margin: 0;}

/*button styles*/
.journalinfo .btn { /* a elements are inline by default block fixes this */ 
               /* Positioning and sizing */
                  display: block;
                  width: 200px;

                  /* Padding and margins */
                  padding: 14px 9px;
                  margin-top: 20px;
                  margin-bottom: 20px;
                  
                  /* Border styles */
                 
                 background-color: #986b58;
                 
                 /* Text styles */
                 color: #fff;
                 text-decoration: none; /*removes line under */ 
                 text-align: center;
                 font-size: 1.4rem;
                 font-weight: 550;
                 font-family: "Josefin Sans";
}
.journalinfo a:hover { background-color: rgba(152,107,88,0.5);}

/*footer*/

footer { display: flex;
         background-color: #986b58;
         color: #fff;
         width: 100vw;
         height: 13vh;
         letter-spacing: 0.1rem;
         text-align: center;
}
.foot .wrap {padding: 10px;}  

/* Shop Page */
/* main heading*/
.shop h2  { margin: 3% 0 1% 0;}
.shop h3 { margin: 0;
font-weight: 400;}
/*spacing of pictures and subheadings*/
.shop ul    { display: flex;
               list-style-type: none;
               font-size: 2rem;
               font-weight: 300;
               letter-spacing: 0.1rem;
               margin: 3%;
               padding: 0;
               justify-content: space-evenly;
               flex-wrap: wrap;
               
}
.shop li {     max-width: 33%; /*responsive sizing of pictures*/
               height: auto;
               padding-right: 1%;
}
.shop li a {    /*styles of linked subheadings under pictures*/
                 text-decoration: none; /*removes line for link*/ 
                 display: block; 
                 color: #372e2c;
                 text-align: center;
                 padding-bottom: 5%;
}
.shop a h3:hover { color: #B22029;
}

/* About Page */
.firstimage { width: 100vw;
              height: 80vh; 
    
             /* Flexbox */
             display: flex;
             align-items: center;
             margin-bottom: 5%;
             /* Text styles make all lines centered */
            color: #efe6e1;

            /* Background Styles */
           /*change the image here */
           background-image: linear-gradient(rgba(0,0,0,0.1),rgba(0,0,0,0.1)),url("images/friends.jpg");
}
.color {background-color: #fff9f2;} /* Maybe move to top so I can use again!!!! background color for page */

.firstimage h2 { text-align: center;
     max-width: 550px;
     padding-left: 175px;
     color: #FEFAF4;
}
/*first section with picture and written content on About Page*/
.about  {       
          margin-top:  3%;
          margin-bottom: 5%;
          align-items: flex-start;
          color: #FEFAF4;
          height: 100%;
}

.pic {width: 50vw;
      height: 80vh; 
      background-image: url("images/applefarm.jpg");
      background-attachment: scroll;
}

     
.about .inner_about { display: flex;
                      flex-direction: column;
                      justify-content: center;
                      height: 80vh;
                      width: 50%;
                     padding: 0 5%;
                     background-color: #986b58;
                     font-weight: 500;
                     
}    
/*second section with picture and written content on About Page*/
.inner_about h2 {margin: 0;
                 color: #FEFAF4;
}
.inner_about p {font-weight: 500;}
                   
.pic2 {width: 50vw;
      height: 80vh; 
      background-image: url("images/linen.jpg");
      background-attachment: scroll;
}

/* Font changes for center quote "We Believe..."*/   
.h2 { font-size: 2.7rem;
       margin: 0 0 3% 0;
       font-weight: 100;}

/*different colored footer on about page*/
.about_footer {
               background-color: #FEFAF4;
               color: #372e2c;
}

/* Quiz Pages labelled in order as quiz, quiz2, quiz3, quiz4, quiz5 Note: all one quiz on different pages */

/* Quiz Pages*/ /* note there is a separate style sheet for the quiz check buttons */
.quiz { background-color: #efe6e1;
height: 100vh;
padding: 0;}

.quiz h1 { max-width: 75%;
           font-weight: 100;
          margin: 0;}
/* quiz start is styling for quiz pages 2-5*/
.quizstart h1 { padding-top: 6%;}

.quiz .btn { /* a elements are inline by default block fixes this */ 
            /* Positioning and sizing */
            display: block;
            width: 200px;

            /* Padding and margins */
            padding: 1% 2%;
            margin: 4% 13%;
        
            /* Border styles */
            border: 1px solid #372e2c;
            

            /* Text styles */
            color: #372e2c;
            text-decoration: none; /*removes line under */ 
            text-align: center;
            font-size: 1.5rem;
            font-weight: 500;
            font-family: "Josefin Sans", sans-serif;           
}
/*styling for progress bar quiz 2-5 I designed the styling and code for this bar */
.container { 
            display: flex;
            flex-direction: column;
           justify-content: center;
           align-items: center;
           background-color: #efe6e1;}

.container h3 {padding-top: 2%;}
.border {
         border: 2px transparent #996b5996;
         background-color: #996b5996;
         width: 75%;
         border-radius: 25px;
}
.brown {background-color: #986b58;
       border: 1px solid #986b58;
       border-radius: 25px;}

.quiz a:hover { color: #FEFAF4;
                 background-color: #372e2c;}
.button {justify-content: space-between;
         align-items: flex-start;
         margin: 0;}
 
form { display: flex;
       flex-direction: column;
       align-items: center;
       justify-content: center;
       max-width: 100%;

}
form label { margin: 5%;}

/* style for solid black next button */
.quiz .btnalt { /* a elements are inline by default block fixes this */ 
            /* Positioning and sizing */
            display: block;
            width: 200px;

            /* Padding and margins */
            padding: 1% 1%;
            margin: 4% 13%;
        
            /* Border styles */
            border: 1px solid #372e2c;
            

            /* Text styles */
            color: #372e2c;
            text-decoration: none; /*removes line under */ 
            text-align: center;
            font-size: 1.5rem;
            font-weight: 500;
            font-family: "Josefin Sans", sans-serif;           
}
#buttonsolid { /*black color background for next button */
background-color: #372e2c;
color: #FEFAF4;
}
/*for quiz 5 email section */

.email {display: flex;
flex-direction: row;
}
/* the email and submit button together*/
.email label { margin: 0;
     padding: 3px;
}
/*the email input */
.emailintake {
  padding: 10px 175px 10px 5px;
  border: 1px solid #8c8b8b;
  border-radius: 4px;
  font-size: 1.6rem;
  font-family: "Cormorant Garamond", serif;  
}
/*the submit input*/
.submit { 
padding: 10px 20px;
border: 1px solid #372e2c;
border-radius: 4px;
color: #FEFAF4;
background-color: #372e2c;
font-family: "Josefin Sans", sans-serif;  
font-size: 1.6rem; 
margin: 1% 0;
}
.comments { /* heading over comments */
text-align: center;
margin: 2% 0 0 0;
}
/*text styles over comment box*/
.comments span {font-weight: 100;
font-size: 3rem;}

/*inner comment box*/
#comments {font-family: "Cormorant Garamond", serif; 
border: 1px solid #8c8b8b;
border-radius: 4px;
font-size: 1.7rem; 
width: 50%;
color: #8c8b8b;
padding-top: 1%;
padding-left: 1%;
}
/*text above email input*/
.emailpadding { 
  display: flex;
flex-direction: column;
 width: 100%;
 align-items: center;
 text-align: center;
 padding-top: 5%;
 width: 1200px;
}
.emailpadding p {color: #8c8b8b;}

.fontsize {font-size: 4.5rem;} /* font beside check boxes*/



            
            