/* website project farm and folk */

html {font-size: 62.5%} /* so I can work with rem */
* { box-sizing: border-box;
}      


/* General for whole site */
main { display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
    
}
h1 h2 h3 h4 { font-family:"Cormorant Garamond"; 
              color: #372e2c;
}
h1 h2 h3 { font-weight: 100;
}
h1 { font-size: 6.4rem;
     line-height: 1.2;
}
h2 { font-size: 4rem; 
}
h3 { font-size: 2.2rem;
     letter-spacing: 0.1rem;
}
h4 { font-size: 1.7rem;
    letter-spacing: 0.1rem;
    font-weight: 500; /* to do- add padding in banner section removed from here */
}
body { /* The body has a default margin, which we do not want interfering with image header, which is why  I have set it to 0 */ 
      margin: 0; 
      padding: 0;

      /* Text styles */
      font-family: "Cormorant Garamond Medium";
      line-height: 1.42857143;
      color: #372e2c;
      letter-spacing: 0.05rem;
      font-size: 1.7rem;
      font-weight: 100;
      letter-spacing: 0.12rem;
      
      /*background*/
      background-color: #fff;
}
/* index page */

.header {display: flex;
        flex-direction: column;
        position: sticky; top: 0; /* https://dev.to/akhilarjun/one-line-sticky-header-using-css-5gp3 */
}
.banner {display: flex;
         background-color: #986b58;
         justify-content: center;
         align-items: center;
         height: 40px;  
         padding-top: 5px;                    
}
.banner h4 { color:#efe6e1; }


.logonav { display: flex;
           align-items: center;
           justify-content: space-between;
        
           /*sizing of pink header part*/
           height: 11vh; 
           background-color: #efe6e1;
}
.logonav a { display: block;
            padding-left: 75px;
}
.logonav nav { padding-right: 40px;
               padding-top: 10px;}

nav ul { display: flex;
         font-size: 1.6rem;
         letter-spacing: 0.1rem;
         font-weight: 300;
         list-style-type: none;
         margin: 0;
         padding: 0;
}

nav li a {text-decoration: none;
          color: #372e2c;
          display: block;
}

nav li a:hover { color: #986b58;}

/* hero Section */

.hero { /* sizing of hero image https://codetheweb.blog/fullscreen-image-hero/ note vw/vh is % of veiwport width and height*/
      width: 100vw;
      height: 100vh; 
    
      /* Flexbox */
      display: flex;
      flex-direction: column;
      justify-content:center;

      /* Text styles */
       color: #efe6e1;

      /* Background Styles */
      /* background image doesn't take colors but take gradients, 0 is full transparency in rgba, make sure to separate multiple backgrounds with commas */
      background-image: linear-gradient(rgba(0,0,0,0.2),rgba(0,0,0,0.2)), url("images/soaplady.JPG");
      background-size: cover;
      background-position: center center;
      background-repeat: no-repeat;
      background-attachment: fixed;
}
.hero h1 { /* Margins */
          margin: 0;
          width: 820px;
          padding-left: 75px;         
}
.hero h3 {
     width: 750px;
     padding-left: 75px; 
     padding-right: 40px;
} 
.hero .btn { /* a elements are inline by default block fixes this */ 
            /* Positioning and sizing */
            display: block;
            width: 200px;

            /* Padding and margins */
            padding: 12px 17px;
            margin-left: 75px;
        
            /* Border styles */
            border: 1px solid #efe6e1;
            

            /* Text styles */
            color: #efe6e1;
            text-decoration: none; /*removes line under */ 
            text-align: center;
            font-size: 1.4rem;
            font-weight: 550;
            font-family: "Josefin Sans";

            
}
.hero a:hover { background-color: rgba(152,107,88,0.5);}

/* 3 product types on index */
.products { display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            width: 100vw;
            height: 100vh;

            margin: 0;
            padding: 0;
}
.products h2 { margin: 0 0 10px 0;}

.products ul { display: flex;
               list-style-type: none;
               font-size: 1.7rem;
               font-weight: 300;
               letter-spacing: 0.1rem;
               margin: 0;
               padding: 0;
               justify-content: space-evenly;
               
}
.products li a { text-decoration: none; /*removes line for link*/ 
                 display: block; 
                 color: #372e2c;
                 text-align: center;
                 padding: 10px;
}
.products a:hover { color: #986b58;
}

/* video section */
.video { display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background-color: #986b58;
        margin: 0;
        padding-bottom: 100px;
        width: 100vw;   
        height: 100vh;        
}
.video h2 { color: #efe6e1;
}
         
/* featured product section */                      
.featuredproduct { display: flex;
                  align-items: center;
                  margin: 50px 0;
                  padding: 0;
                  width: 100vw;
                  height: 50vw;
            }
.featuredproduct a {display: block;
                    flex: 4;
                    padding-left: 40px;
}
.featuredproduct aside {flex: 6;
                        padding: 90px 40px;
                        margin-left: 40px;
                        margin-right: 40px;
                        margin-bottom: 7px;
                        border: 1px solid #efe6e1;
}
                
.featureinfo { display: flex;
              flex-direction: column;
              padding: 0;
              margin: 0;
}

.featureinfo .btn { /* a elements are inline by default block fixes this */ 
               /* Positioning and sizing */
                  display: block;
                  width: 200px;

                  /* Padding and margins */
                  padding: 15px 17px;
                  margin-top: 20px;
                  margin-bottom: 20px;
                  
                  /* Border styles */
                 
                 background-color: #efe6e1;
                 
                 /* Text styles */
                 color: #372e2c;
                 text-decoration: none; /*removes line under */ 
                 text-align: center;
                 font-size: 1.4rem;
                 font-weight: 550;
                 font-family: "Josefin Sans";
}
.featureinfo a:hover { background-color: rgba(152,107,88,0.5);}

.makers { /* sizing of hero image https://codetheweb.blog/fullscreen-image-hero/ note vw/vh is % of veiwport width and height*/
      width: 100vw;
      height: 100vh; 
    
      /* Flexbox */
      display: flex;
      align-items: center;

      /* Text styles make all lines centered */
       color: #efe6e1;

      /* Background Styles */
      /* background image doesn't take colors but take gradients, 0 is full transparency in rgba, make sure to separate multiple backgrounds with commas */
      background-image: url("images/soapwoman.JPG");
      background-size: cover;
      background-position: center center;
      background-repeat: no-repeat;    

}
.makers h2 { /* Margins */
          margin-top: 0; 
          margin-bottom: 10px;
          width: 750px;
          padding-left: 75px;
          
}

.makers .btn { /* a elements are inline by default block fixes this */ 
            /* Positioning and sizing */
            display: block;
            width: 200px;

            /* Padding and margins */
            padding: 12px 17px;
            margin-top: 38px;
            margin-left: 75px;
            margin-right: auto; /* auto takes up the maximum amount of space available to center button */

            /* Border styles */
            border: 1px solid #efe6e1;
            

            /* Text styles */
            color: #efe6e1;
            text-decoration: none; /*removes line under */ 
            text-align: center;
            font-size: 1.4rem;
            font-weight: 550;
            font-family: "Josefin Sans";

            
            
            