css
html {font-size: 62.5%} /* so I can work with rem */
* { box-sizing: border-box;
}      


/* General for whole site */
main { display: flex; /*do I need this code for main??*/
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;